{% extends 'rules/base.html' %}

{% block rules_title %}{{ rule.name }}{% endblock %}

{% block rules_body %}

  <style lang="css">
    .back-btn {
        position: sticky;
        top: 0.5em;
        left: 0.5em;
        margin: 0.3em 0;
    }
  </style>

  <div class="back-btn">
    <a class="masked-link" href="{{ url_for('rules.RulesListView') }}">
      <button class="pure-button pure-button-primary"><< Back to rules</button>
    </a>
  </div>

  {{ rule.description|safe }}

{% endblock %}
