{% extends 'base.html' %}

{% block head %}
  <style lang="css">
      .inner {
          width: 42em;
          height: 28em;
          align-items: center;
          justify-content: center;
          padding: 0;
      }

      .auth {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
      }
  </style>
{% endblock %}

{% block body %}
  <div class="auth">
    <div class="auth-title text-title">
      {% block auth_title %}{% endblock %}
    </div>

    <div class="auth-body self-center">
      {% block auth_body %}{% endblock %}
    </div>
  </div>
{% endblock %}
